<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora Simples
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Primeiro Numero" [(ngModel)]="n1" labelPlacement="floating" placeholder="Digite o primeiro numero" labelPlacement="floating" type="number">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Segundo Numero" [(ngModel)]="n2" labelPlacement="floating" placeholder="Digite o segundo numero" labelPlacement="floating" type="number"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="somar()">Somar</ion-button>
  <ion-button expand="block" (click)="somar()">Butão Somar</ion-button>
  <ion-button expand="block" (click)="subtrair()">Butão Diminuir</ion-button>
  <ion-button expand="block" (click)="multiplicar()">Butão Multiplicar</ion-button>
  <ion-button expand="block" (click)="dividir()">Butão Dividir</ion-button>
  <ion-label>{{res}}</ion-label>
</ion-content>
